
.navi {
    background-color: #0C4A5F;
    overflow: auto;
    text-align: center;
}
.navi a {
    font-size: 25px;
    padding: 14px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.navi a:hover {
    background-color: 001D27;
}
.active {
    background-color:  #127EA3;
}
@media screen and (max-width: 500px) {
    .navi a {
      float: none;
      display: block;
    }
  }
  .profile {
    background-image: url(kuva1.jpg);
    background-color: #329ABD;
    height: 100%;
    text-align: center;
  }
  .cv {background-color: #0B5F7C;
    height: 100%;
    text-align: center;
  }
  .contact {background-color: #007DA9;
    height: 100%;
    text-align: center;
  }