
div.navi
 {
    font-size: 23px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    }
div.navi:hover
    {
    background-color: green;
    color: red;
    }
    #signIn
    {
    width: 5%;
    margin: 10px;
    font-size: 23px;
    background-color: green;
    border-right: 2px solid;
    text-align: center;
    clear: both;

    }