
.navi {
    background-color: #0C4A5F;
    overflow: auto;
    text-align: center;
}
.navi a {
    font-size: 25px;
    padding: 14px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.navi a:hover {
    background-color: 001D27;
}
.active {
    background-color:  #127EA3;
}
@media screen and (max-width: 500px) {
    .navi a {
      float: none;
      display: block;
    }
  }
  .profile {
    font-size: 25px;
    margin-right: 25px;
    padding: 100px 0px;
    background-color: #112026;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
  }
  .cv {
    font-size: 25px;
    margin: auto;
    padding:90px 0px;
    background-color: #0B5F7C;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .contact {
    font-size: 25px;
   margin:auto;
    padding: 90px 0px;
    background-color: #007DA9;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
  }